.header {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.title {
  text-align: center;
  margin: .5rem 0;
}

.title strong {
  font-size: 1.5rem;
}

.dropzone {
  cursor: pointer;
}

.waiting {
  background-color: rgba(0, 0, 0, .01);
  border: 0px dashed rgba(0, 0, 0, 0);
}

.dropzone {
  background-color: rgba(0, 0, 0, .1);
  border: 1px dashed;
}

.waiting, .dropzone {
  margin: 0 .8rem .8rem .8rem;
  padding: 5px;
  text-align: center;
}

.filebars {
  width: 30%;
  max-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filebars-title {
  font-weight: 600;
}

.filebars-title, .filebar {
  padding: .75em;
}

.filebars-action {
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
}

.filebars-action div {
  flex: 1 1;
  text-align: center;
  background-color: rgba(0, 122, 49, 1);
  color: white;
  border: 0;
  border-radius: 5px;
  margin: 2px;
  padding: .75em;
  cursor: pointer;
}

.filebars-action div.danger {
  background-color: rgba(255, 36, 36, 1);
}

.filebars-files {
  flex: 1 1;
  overflow-y: auto;
}

.filebar {
  cursor: pointer;
}

.filebar:hover:not(.active) {
  background-color: rgba(0, 0, 0, .1);
}

.filebar.active {
  background-color: rgba(0, 0, 0, .2);
  cursor: auto;
}

.fileinfo {
  width: 30%;
  max-width: 200px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 2px 1px rgba(235, 226, 226, 0.2);
  z-index: 2;
}

.fileinfo .fileinfo-title, .fileinfo .fileinfo-content {
  margin: .75em;
}

.fileinfo .fileinfo-title {
  font-weight: 600;
}

.fileinfo .fileinfo-content {
  padding: 5px;
  border: none;
  border-bottom: 1px solid;
}

.preview {
  flex: 1 1;
  overflow-y: hidden;
  text-align: center;
  padding: 20px;
  background-color: rgba(130, 130, 130, 1);
}

.preview img {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
  max-height: 100%;
  overflow-y: hidden;
}

/** flex and stuff **/

.d-flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-0 { flex: 0 0; }
.flex-1 { flex: 1 1; }
.middle { height: 100%; display: flex; justify-content: center; align-items: center; }
.w-100 { width: 100%; }
.h-100 { height: 100vh; }
